@import "../../../../global.scss";

.tournament-item-root {
    padding: 15px 30px;
    margin-bottom: 10px;
    background-color: rgba($main-color, 0.5);
    box-shadow: 0 2px 3px 2px #ddd;
    transition: all 0.1s ease-in;

    &:hover {
        cursor: pointer;
        background-color: $link-hover-color;
    }
}