@import '../../../../../../global.scss';
@import '../TeamPane.scss';

.team-tile-root {
    @include tile-layout();

    .team-name {
        font-size: 18px;
        color: $text-color;
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: 1px solid #bbb;
        margin-bottom: 8px;
    }

    .member-container {
        display: block;
        margin-bottom: 2px;
    
        .division {
            font-size: 10px;
            text-transform: uppercase;
            text-shadow: 0 0 2px #000;
            color: white;
            border-radius: 50px;
            padding: 3px 5px;
            margin-left: 20px;
        }
    }
}