@import '../../../../global.scss';

.detail-bar-root {
    background-color: $hover-color;
    padding: 30px;
    min-width: 330px;
    .header {
        font-size: 28px;
        font-weight: 100;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid $nav-color;
        margin-bottom: 15px;
    }
}